.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
    background-color: transparent;
}

.close-button {
  position: relative;
  bottom: 390px;
  left: 160px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.close-btn {
    width: 40px;
    height: 40px;
}

.guide-img {
    width: 400px;
    height: 400px;
}


.start-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.start-button img {
    position: relative;
    bottom: 60px;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.start-button img:hover {
    transform: scale(1.05);
    
}