.game-page {
    position: relative;
    width: 100%;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    color: #fff;
    text-align: center;
}


.game-page-header {
  position: relative; /* Ensure children are positioned relative to this */
  min-height: 60px; /* Ensure header has height */
  margin-bottom: 400px; /* Space for the grid and keyboard */
}


.grid-and-keyboard {
  margin-top: 400px;
  display: inline-flex; /* Use inline-flex to allow the header to be centered */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 400px;
  padding: 10px;
}

