.landing-page {
  position: relative;
  width: 100vw;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  text-align: center;
}

.landing-header {
  margin-bottom: 400px;
}

.game-genie-text {
  position: absolute;
  top: 16px; /* Top of the page */
  left: 16px; /* Left edge with padding */
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.signup-button {
  position: absolute;
  top: 0%; /* Top of the page */
  right: 10px;
  padding-top: 10px; /* top, right, bottom, left */
  /* left: 1110px; */
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: none;
  overflow: hidden;
}

.signup-button img {
  width: 144px;
  height: 31px;
  padding: 2px;
  transition: transform 0.3s ease;
}


.boxes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.top-box, .middle-box, .bottom-box {
  width: 100%;
  max-width: 775px;
  height: auto;
  text-align: center;
  font-size: normal;
  align-self: stretch;
  color: white;
  line-height: normal;
}

.top-box {
  width: 775px;
  height: auto;
  align-self: stretch;
  text-shadow: 0px 4px 0px #723400;
  font-family: 'Monda';
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.middle-box {
  align-self: stretch;
  text-shadow: 0px 5px 0px #723400;
  font-family: "Press Start 2P";
  font-size: 64px;
  font-weight: 400;
  min-height: 128px;
}

.bottom-box {
  min-height: 33px;
  font-family: 'Monda';
  font-size: 20px;
  font-weight: 600;
}


.quickplay-button {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.quickplay-button img {
  transition: transform 0.3s ease;
}

.quickplay-button:hover img, .signup-button:hover img {
  transform: scale(1.05); /* Slight scale-up on hover */
} 


