.rewards-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.rewards-header {
  margin-bottom: 400px; 
}

.genie-container2 {
    position: absolute;
    right: 10px;
    bottom: 230px;
}

.genie-image2 {
  width: 400px;
  height: auto;
  display: block;
}

.rewards-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 230px;
  width: 100%;
}

.rewards-component img {
  width: 80%;
  height: auto;
}

/* + New styles for rewards text */
.rewards-tries {
     font-size: 20px;
     font-weight: bold;
     color: red;
     font-family: 'Comic Sans MS', 'Arial', sans-serif;
     margin: 10px 0;
     text-align: center;
}

.rewards-points {
     font-size: 20px;
     font-weight: bold;
     color: red;
     font-family: 'Comic Sans MS', 'Arial', sans-serif;
     margin: 10px 0;
     text-align: center;
}

.home-button {
  right: 525px;
  
}

.home-button, .flip-button, .reset-button {
  position: absolute;
  width: 62px;
  height: 60px;
  cursor: pointer;
  border: none;
  top: 505px;
  background-color: transparent;
}

.home-button img, .flip-button img, .reset-button img {
  width: 100%;
  height: auto;
}

.flip-button {
  right: 608px;
}


.reset-button {
  right: 692px;
}


.reset-button:hover img, .home-button:hover img, .flip-button:hover img {
    transform: scale(1.05); /* + Slightly enlarge on hover */
    transition: transform 0.2s ease-in-out;
}